@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.brandFont{
    font-family: "Jaro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}