.searchBox{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 3rem;

}
.searchBoxTop{
    height: 20%;
}
.searchBoxMid{
   height: 70%;
   padding: 3rem;
   display: flex;
   justify-content: center;
   align-items: center;
   transform: translate(0,-2rem);
}
.searchBoxBottom{
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .searchBoxLoader{
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
 }